/*
 * Colours
 */
/*
 * Mixins
 */
.container {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 35px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /*
   * Service containers
   */
  /*
   * Success container
   */
  /*
   * Failure container
   */
}
.container .wrapper {
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 250px;
  height: 170px;
  border-radius: 10px;
  padding: 8px;
  background: #2f343a;
}
.container .fail-glow {
  -webkit-box-shadow: 0px 0px 12px 2px rgba(139, 21, 21, 0.7);
  -moz-box-shadow: 0px 0px 12px 2px rgba(139, 21, 21, 0.7);
  box-shadow: 0px 0px 12px 2px rgba(139, 21, 21, 0.7);
}
.container .service__name {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  border-bottom: 1px solid gray;
  padding: 0px 0px 8px 0px;
}
.container .service-status__container__success {
  position: relative;
  /*
      * traffic lights
      */
}
.container .service-status__container__success .service__tally {
  font-size: 46px;
  font-weight: 600;
  margin-top: 16px;
  margin-left: 16px;
  width: 150px;
  text-align: center;
}
.container .service-status__container__success .service__message {
  font-size: 36px;
  font-weight: 600;
  color: #47dcb2;
  margin-top: 8px;
  margin-left: 16px;
  width: 150px;
  text-align: center;
}
.container .service-status__container__success .service__traffic-lights-wrapper {
  position: absolute;
  top: 85px;
  right: 67px;
}
.container .service-status__container__success .service__traffic-lights-wrapper .service__traffic-lights-container .status-green {
  position: absolute;
  border-style: solid;
  z-index: 2;
  border-width: 1px;
  border-color: #099c6b;
  background-color: #47dcb2;
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset -0.6px -1.9px 4px 0px rgba(21, 139, 100, 0.8);
  -moz-box-shadow: inset -0.6px -1.9px 4px 0px rgba(21, 139, 100, 0.8);
  box-shadow: inset -0.6px -1.9px 4px 0px rgba(21, 139, 100, 0.8);
}
.container .service-status__container__success .service__traffic-lights-wrapper .service__traffic-lights-container .status-green-glow {
  z-index: 1;
  position: absolute;
  background-color: #2f343a;
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(21, 139, 100, 0.7);
  -moz-box-shadow: 0px 0px 8px 1px rgba(21, 139, 100, 0.7);
  box-shadow: 0px 0px 8px 1px rgba(21, 139, 100, 0.7);
}
.container .service-status__container__success .service__traffic-lights-wrapper .service__traffic-lights-container .status-red {
  position: absolute;
  border-style: solid;
  z-index: 2;
  border-width: 1px;
  border-color: #9c0909;
  background-color: #dc1847;
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset -0.6px -1.9px 4px 0px rgba(139, 21, 21, 0.8);
  -moz-box-shadow: inset -0.6px -1.9px 4px 0px rgba(139, 21, 21, 0.8);
  box-shadow: inset -0.6px -1.9px 4px 0px rgba(139, 21, 21, 0.8);
}
.container .service-status__container__success .service__traffic-lights-wrapper .service__traffic-lights-container .status-red-glow {
  z-index: 1;
  position: absolute;
  background-color: #2f343a;
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(139, 21, 21, 0.7);
  -moz-box-shadow: 0px 0px 8px 1px rgba(139, 21, 21, 0.7);
  box-shadow: 0px 0px 8px 1px rgba(139, 21, 21, 0.7);
}
.container .service-status__container__success .service__traffic-lights-wrapper .service__traffic-lights-container .covered {
  opacity: 0.1;
}
.container .service-status__container__failing {
  position: relative;
  /*
      * traffic lights
      */
}
.container .service-status__container__failing .service__tally {
  font-size: 46px;
  font-weight: 600;
  margin-top: 16px;
  margin-left: 16px;
  width: 150px;
  text-align: center;
}
.container .service-status__container__failing .service__message {
  font-size: 36px;
  font-weight: 600;
  color: #dc1847;
  margin-top: 8px;
  margin-left: 16px;
  width: 150px;
  text-align: center;
}
.container .service-status__container__failing .service__traffic-lights-wrapper {
  position: absolute;
  top: 85px;
  right: 67px;
}
.container .service-status__container__failing .service__traffic-lights-wrapper .service__traffic-lights-container .status-green {
  position: absolute;
  border-style: solid;
  z-index: 2;
  border-width: 1px;
  border-color: #099c6b;
  background-color: #47dcb2;
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset -0.6px -1.9px 4px 0px rgba(21, 139, 100, 0.8);
  -moz-box-shadow: inset -0.6px -1.9px 4px 0px rgba(21, 139, 100, 0.8);
  box-shadow: inset -0.6px -1.9px 4px 0px rgba(21, 139, 100, 0.8);
}
.container .service-status__container__failing .service__traffic-lights-wrapper .service__traffic-lights-container .status-green-glow {
  z-index: 1;
  position: absolute;
  background-color: #2f343a;
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(21, 139, 100, 0.7);
  -moz-box-shadow: 0px 0px 8px 1px rgba(21, 139, 100, 0.7);
  box-shadow: 0px 0px 8px 1px rgba(21, 139, 100, 0.7);
}
.container .service-status__container__failing .service__traffic-lights-wrapper .service__traffic-lights-container .status-red {
  position: absolute;
  border-style: solid;
  z-index: 2;
  border-width: 1px;
  border-color: #9c0909;
  background-color: #dc1847;
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset -0.6px -1.9px 4px 0px rgba(139, 21, 21, 0.8);
  -moz-box-shadow: inset -0.6px -1.9px 4px 0px rgba(139, 21, 21, 0.8);
  box-shadow: inset -0.6px -1.9px 4px 0px rgba(139, 21, 21, 0.8);
}
.container .service-status__container__failing .service__traffic-lights-wrapper .service__traffic-lights-container .status-red-glow {
  z-index: 1;
  position: absolute;
  background-color: #2f343a;
  width: 22px;
  height: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(139, 21, 21, 0.7);
  -moz-box-shadow: 0px 0px 8px 1px rgba(139, 21, 21, 0.7);
  box-shadow: 0px 0px 8px 1px rgba(139, 21, 21, 0.7);
}
.container .service-status__container__failing .service__traffic-lights-wrapper .service__traffic-lights-container .covered {
  opacity: 0.1;
}
